<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org"></script>
  </head>
  <body>
    <form
      hx-post="/api/todos/"
      hx-target="#todo-list"
      hx-swap="outerHTML"
      hx-include="input"
    >
      <input type="text" name="title" placeholder="Add new todo" />
      <button type="submit">Add</button>
    </form>
    <div id="todo-list" hx-get="/api/todos/" hx-trigger="load, every 5s">
      <!-- TODO items will be loaded here -->
    </div>
  </body>
</html>
